<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Do not rewrite existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Route all non-static requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>
